In [1]:
import pandas as pd

In [2]:
f500=pd.read_csv("f500.csv")

In [3]:
f500.head()

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

In [4]:
f500.columns

Index(['company', 'rank', 'revenues', 'revenue_change', 'profits', 'assets',
       'profit_change', 'ceo', 'industry', 'sector', 'previous_rank',
       'country', 'hq_location', 'website', 'years_on_global_500_list',
       'employees', 'total_stockholder_equity'],
      dtype='object')

In [6]:
f500.describe()

,rank,revenues,revenue_change,profits,assets,profit_change,previous_rank,years_on_global_500_list,employees,total_stockholder_equity
count,500.000000,500.000000,498.000000,499.000000,5.000000e+02,436.000000,500.000000,500.000000,5.000000e+02,500.000000
mean,250.500000,55416.358000,4.538353,3055.203206,2.436323e+05,24.152752,222.134000,15.036000,1.339983e+05,30628.076000
std,144.481833,45725.478963,28.549067,5171.981071,4.851937e+05,437.509566,146.941961,7.932752,1.700878e+05,43642.576833
min,1.000000,21609.000000,-67.300000,-13038.000000,3.717000e+03,-793.700000,0.000000,1.000000,3.280000e+02,-59909.000000
25%,125.750000,29003.000000,-5.900000,556.950000,3.658850e+04,-22.775000,92.750000,7.000000,4.293250e+04,7553.750000
50%,250.500000,40236.000000,0.550000,1761.600000,7.326150e+04,-0.350000,219.500000,17.000000,9.291050e+04,15809.500000
75%,375.250000,63926.750000,6.975000,3954.000000,1.805640e+05,17.700000,347.250000,23.000000,1.689172e+05,37828.500000
max,500.000000,485873.000000,442.300000,45687.000000,3.473238e+06,8909.500000,500.000000,23.000000,2.300000e+06,301893.000000

In [8]:
f500['rank'].head()

0    1
1    2
2    3
3    4
4    5
Name: rank, dtype: int64

In [9]:
f500['rank'].describe()

count    500.000000
mean     250.500000
std      144.481833
min        1.000000
25%      125.750000
50%      250.500000
75%      375.250000
max      500.000000
Name: rank, dtype: float64

In [10]:
type(f500)

pandas.core.frame.DataFrame

In [13]:
f500['rank'].dtype

dtype('int64')

In [18]:
def county_name(s):
    return s.lower()

In [22]:
f500['country'].apply(county_name)

0              usa
1            china
2            china
3            china
4            japan
5          germany
6      netherlands
7              usa
8              usa
9              usa
10             usa
11         britain
12             usa
13             usa
14     south korea
15     switzerland
16         germany
17             usa
18             usa
19     netherlands
20             usa
21           china
22             usa
23           china
24          france
25             usa
26          taiwan
27           china
28           japan
29          france
          ...
470            usa
471    netherlands
472    netherlands
473         canada
474            usa
475          china
476    netherlands
477          china
478    south korea
479          u.a.e
480            usa
481         sweden
482            usa
483         france
484          china
485    south korea
486         brazil
487          china
488            usa
489          china
490        britain
491            usa
492          italy
493          china
494          china
495         israel
496          china
497        britain
498        germany
499            usa
Name: country, Length: 500, dtype: object

In [23]:
data['name'],head()

NameError: name 'data' is not defined

In [24]:
f500.shape

(500, 17)

In [25]:
f500.shape[0]

500

In [26]:
f500.shape[1]

17