In [12]:
f=open("input.txt","r")

In [13]:
for row in f.readlines():
    r=row.replace("\n","")
    print(r)

Jane
Pham
Linh
Chanh
Pv

In [14]:
f.close()

In [19]:
opened_file = open('input.csv')
from csv import reader
read_file = reader(opened_file)
apps_data = list(read_file)

In [20]:
apps_data

[['Jane', 'Pham\t'],
 ['Pham', 'Hcm'],
 ['Linh', 'Delhi'],
 ['Chanh', 'USA'],
 ['Pv', 'Sydeny']]

In [18]:
from csv import reader

In [21]:
if True:
    print(1)
if 1 == 1:
    print(2)
    print(3)

1
2
3

In [22]:
if 3 > 1 and 'data == data':
    print('Both conditions are true!')  
if 10 < 20 or 4 <= 5:
    print('At least one condition is true.')

Both conditions are true!
At least one condition is true.

In [23]:
# First way
dictionary = {'key_1': 1, 'key_2': 2}
# Second way
dictionary = {}
dictionary['key_1'] = 1
dictionary['key_2'] = 2

In [24]:
dictionary = {'key_1': 100, 'key_2': 200}
dictionary['key_1']  # Outputs 100
dictionary['key_2']  # Outputs 200

200

In [25]:
dictionary

{'key_1': 100, 'key_2': 200}

In [26]:
dictionary['key_1']

100

In [27]:
dictionary['key_2']

200

In [28]:
dictionary = {'key_1': 100, 'key_2': 200}
dictionary['key_1'] = dictionary['key_1']+600  # This will change the value to 700

In [29]:
dictionary

{'key_1': 700, 'key_2': 200}

data_set=[1,1,2,2,2,4]

In [45]:
a_data_set=[1,1,2,2,2,4]

In [53]:
a_data_set

[1, 1, 2, 2, 2, 4]

In [76]:
a = {}
for row in [1,1,2,2,2,4]:
    print(row,"first")
    if row in a:
        a[row]=a[row]+1
    else:
        a[row] = 1
    print(a)

1 first
{1: 1}
1 first
{1: 2}
2 first
{1: 2, 2: 1}
2 first
{1: 2, 2: 2}
2 first
{1: 2, 2: 3}
4 first
{1: 2, 2: 3, 4: 1}

In [73]:
a

{1: 2, 2: 3, 4: 1}

In [83]:
def square(n):
    a=n*n
    return a

In [84]:
square(10)

100

In [85]:
def add(x, y):
    return x + y

In [86]:
add(1, 2)

3

In [87]:
def add_to_square(x):
    return square(x) + 1000  # we defined square() above

In [89]:
add_to_square(1)

1001

In [93]:
def add_value(x, a=3.14):
    return x + a

In [94]:
add_value(1)

4.140000000000001

In [92]:
add_value(1,100)

101

In [95]:
def sum_or_difference(a, b, do_sum):
    if do_sum:
        return a + b
    return a - b

In [96]:
def print_constant():
    x = 3.14
    print(x)

In [97]:
print_constant()

3.14

In [99]:
# header one
## header two

SyntaxError: invalid syntax (<ipython-input-101-c6fd648d0212>, line 1)