In [20]:
a="Europe"
b="china"
continents = "France is in {} and China is in {}".format(a, b)

In [21]:
continents

'France is in Europe and China is in china'

In [23]:
squares = "{0} times {0} equals {1}".format(3,9)

In [24]:
squares

'3 times 3 equals 9'

In [25]:
population = "{name}'s population is {pop} million".format(name="Brazil", pop=209)

In [26]:
population

"Brazil's population is 209 million"

In [29]:
two_decimal_places = "I own {:.2f}% of the company".format(32.5548651132)

In [30]:
two_decimal_places

'I own 32.55% of the company'

In [31]:
india_pop = "The approximate population of {} is {}".format("India",1324000000)

In [32]:
india_pop

'The approximate population of India is 1324000000'

In [34]:
balance_string = "Your bank balance is {:,.2f}".format(12345.678)

In [35]:
balance_string

'Your bank balance is 12,345.68'

In [37]:

f=open("input.csv")
import csv
csv.reader(f)

In [38]:
import csv as c
c.reader(f)

In [40]:
from csv import reader
reader(f)

In [43]:
from csv import reader, writer
a=reader(f)
a.writer("output.csv")

AttributeError: '_csv.reader' object has no attribute 'writer'

In [44]:
from csv import *

In [45]:
import datetime as dt

In [46]:
eg_1 = dt.datetime(1985, 3, 13)

In [47]:
eg_1

datetime.datetime(1985, 3, 13, 0, 0)

In [48]:
eg_2 = dt.datetime.strptime("24/12/1984", "%d/%m/%Y")

In [49]:
eg_2

datetime.datetime(1984, 12, 24, 0, 0)

In [51]:
#Converting a datetime.datetime object to a string:
dt_object = dt.datetime(1984, 12, 24)
dt_string = dt_object.strftime("%d/%m/%Y")

In [53]:
eg_3 = dt.time(hour=0, minute=0, second=0, microsecond=0)

In [54]:
eg_3

datetime.time(0, 0)

In [55]:
class MyClass():
    pass

In [57]:
class MyClass():
    
    def a():
        print
A = MyClass()

In [59]:
class MyClass():
    def __init__(self, param_1):
        self.attribute_1 = param_1
mc_2 = MyClass("arg_1")

In [61]:
class MyClass():
    def __init__(self, param_1):
        self.attribute_1 = param_1
    def add_20(self):
        self.attribute_1 += 20
mc = MyClass(10) # mc.attribute is 10
mc.add_20()        # mc.attribute is 30

In [62]:
mc.attribute_1

30

In [69]:
def a(jp):
        p = jp
        print(p)

In [70]:
a(10)

10

In [71]:
def square(a):
    return a*a

In [72]:
square(10)

100