In [2]:
import numpy as np

In [3]:
data_ndarray = np.array([5, 10, 15, 20])
type(data_ndarray)

numpy.ndarray

In [4]:
a=[5, 10, 15, 20]

In [5]:
a

[5, 10, 15, 20]

In [10]:
data_ndarray = np.array([5, 10, 15, 20])

In [8]:
data_ndarray

array([ 5, 10, 15, 20])

In [9]:
data_ndarray.sum()

50

In [15]:
np.array([5, 10, 15, 20])

AttributeError: 'numpy.ndarray' object has no attribute 'count'

In [17]:
import csv
import numpy as np

f = open("nyc_taxis.csv", "r")
taxi_list = list(csv.reader(f))

In [21]:
taxi_list[:2]

[['pickup_year',
  'pickup_month',
  'pickup_day',
  'pickup_dayofweek',
  'pickup_time',
  'pickup_location_code',
  'dropoff_location_code',
  'trip_distance',
  'trip_length',
  'fare_amount',
  'fees_amount',
  'tolls_amount',
  'tip_amount',
  'total_amount',
  'payment_type'],
 ['2016',
  '1',
  '1',
  '5',
  '0',
  '2',
  '4',
  '21.00',
  '2037',
  '52.00',
  '0.80',
  '5.54',
  '11.65',
  '69.99',
  '1']]

In [ ]:
# remove the header row
f
# convert all values to floats
converted_taxi_list = []
for row in taxi_list:
    converted_row = []
    for item in row:
        converted_row.append(float(item))
    converted_taxi_list.append(converted_row)

# start writing your code below this comment

taxi=np.array(converted_taxi_list)