In [11]:
import psycopg2

In [12]:
conn = psycopg2.connect("dbname=postgres user=postgres")
cur = conn.cursor

In [13]:
conn

Import the psycopg2 library.
Connect to the dq database with the user dq.
Initialize a Cursor object from the connection.
Use the print function to display the Cursor object.
Close the Connection using the close method.

In [14]:
dq=psycopg2.connect("dbname=dq user=dq")

In [15]:
#create user dq with encrypted password 'dq';
#CREATE DATABASE dq;

In [16]:
dq=psycopg2.connect("dbname=dq user=dq")
cur=dq.cursor
dq.close()

In [17]:
conn = psycopg2.connect("dbname=dq user=dq")
cur = conn.cursor()
cur.execute("SELECT * FROM notes;")

ProgrammingError: relation "notes" does not exist
LINE 1: SELECT * FROM notes;
                      ^

CREATE TABLE tableName(
   column1 dataType1 PRIMARY KEY,
   column2 dataType2,
   column3 dataType3,
);

# https://www.tutorialspoint.com/postgresql/postgresql_create_database.htm

Connect to the dq database as the user dq
Write a SQL query that creates a table called notes in the dq database, with the following columns and data types:
id -- integer data type, and is a primary key.
body -- text data type.
title -- text data type.
Execute the query using the execute method.
Close the Connection using the close method.

create table notes
(
id integer primary key
,body text 
,title text
)

In [18]:
conn = psycopg2.connect("dbname=dq user=dq")
cur = conn.cursor()
cur.execute("create table notes \
( \
id integer primary key \
,body text \
,title text \
);"\
)

cur.execute("SELECT * FROM notes;")

In [19]:
cur.execute("SELECT * FROM notes;")

In [20]:
conn = psycopg2.connect("dbname=dq user=dq")
cur = conn.cursor()
cur.execute("create table notes \
( \
id integer primary key \
,body text \
,title text \
);"
)
cur.execute("SELECT * FROM notes;")
cur.close()

In [21]:
#select * from recent_grads limit 10

Write a SQL query that returns the majors where females were a minority.
Only return the Major and ShareWomen columns (in that order) and don't limit the number of rows returned.

In [ ]:
#select majors, ShareWomen from recent_grads where Sharewomen<.50;

# Write a SQL query that returns:
all majors with majority female and
all majors had a median salary greater than 50000.
Only include the following columns in the results and in this order:
Major
Major_category
Median
ShareWomen

In [22]:
#select Major, Major_category, Median, ShareWomen from recent_grads where ShareWomen>.50 and Median>50000;

Write a SQL query that returns the first 20 majors that either:
have a Median salary greater than or equal to 10,000, or
have less than or equal to 1,000 Unemployed people
Only include the following columns in the results and in this order:
Major
Median
Unemployed

In [23]:
#select Major, Median, Unemployed FROM recent_grads where Median>=10000 or Unemployed<=1000 limit 20

Run the query we explored above, which returns all majors that:
fell under the category of Engineering and
either
had mostly women graduates
or had an unemployment rate below 5.1%, which was the rate in August 2015
Only include the following columns in the results and in this order:
Major
Major_category
ShareWomen
Unemployment_rate

In [26]:
#select Major, Major_category, ShareWomen, Unemployment_rate FROM recent_grads WHERE Major_category='Engineering'
#AND (ShareWomen>.50 OR Unemployment_rate <.051 )

# Write a query that returns all majors where:
ShareWomen is greater than 0.3
and Unemployment_rate is less than .1
Only include the following columns in the results and in this order:
Major,
ShareWomen,
Unemployment_rate
Order the results in descending order by the ShareWomen column.

SELECT Major, ShareWomen, Unemployment_rate from recent_grads where ShareWomen>.3 and Unemployment_rate<.1
order by ShareWomen desc

Write a query that returns the Engineering or Physical Sciences majors in ascending order of unemployment rates.
The results should only contain the Major_category, Major, and Unemployment_rate columns.

select Major_category, Major, Unemployment_rate FROM recent_grads  where  Major_category='Engineering' or Major_category='Physical Sciences'
order by Unemployment_rate asc;